.header {
	color: #000;
	text-transform: uppercase;
	padding: 0 rem(50);
	// .header__nav
	&__nav {
		height: rem(80);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__title
	&__title {
		font-size: rem(24);
		font-weight: 600;
		letter-spacing: rem(2);
		margin-right: rem(200);
	}
	// .header__categories
	&__categories {
		margin-right: auto;
	}
	// .header__list
	&__list {
		display: flex;
		column-gap: rem(80);
	}
	// .header__item
	&__item {
	}
	// .header__link
	&__link {
		font-weight: 500;
		letter-spacing: rem(1);
	}
	// .header__menu
	&__menu {
		margin-right: rem(50);
	}
	// .header__search
	&__search {
	}
}
